.get-in-touch {
    display: flex;
    padding: 80px;
    background: #eef0f7;
    height: 310px;
}
.twitter {
    width: 22px !important;
    height: 22px !important;
}
.get-in-touch-left {
  padding: 50px 80px 30px 80px;
 }
.get-in-touch-left img{
    width: 30px;
    height: 30px;
    padding: 0 8px;
}
.get-in-touch-left .t1 {
   font-size: 42px;
   font-weight: 600;
   font-family: sans-serif;
   padding: 0;
}
.get-in-touch-left .t2 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    margin: 20px;
}
.get-in-touch-left p {
    font-size: 13px;
    font-weight: 300;
    font-family: sans-serif;
    margin: 20px;
 }

.get-in-touch-right{
    padding: 80px 0 0 0;
}
.get-in-touch-right button {
    background: #000000;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 40px;
    margin: 5px 190px;
}
.input-row {
    display: flex;
    gap: 10px;
}
.input-row label{
    font-weight: 400;
}
.input-row .email input{
    font-size: 13px;
    font-weight: 200;
    width: 247px;
    height: 39px;
    border-radius: 5px;
}
.input-row .name input{
    font-size: 13px;
    font-weight: 200;
    width: 204px;
    height: 39px;
    border-radius: 5px;
}
.links-section ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0 14px;
}
.message-box {
    margin: 12px 0 0 0; 
}
.message-box label{
    font-size: 15px;
    font-weight: 200;
}
.message-box textarea{
    width: 490px;
    height: 110px;
    border-radius: 5px;
}
