.hero-section1-container img{
    height: 200px;
    width: 100%;
}

/* Gradient background (first use) */
.hero-section1-container.gradient {
    background: linear-gradient(180deg,  #2335dd,#1524a9);
  }
  
  /* White background (second use) */
  .hero-section1-container.white img{
    
    height: 170px;
    width: 100%;
    
  }
