.hero-container {
    background: linear-gradient(135deg,#0f1fa8,#1c2ed6);
    color: white;
    min-height: 62vh;
    max-width: 100%;
    padding: 30px 80px 0 80px;
    font-family: Arial;
  }
  
  /* Navbar */
  
  .logo img{
    height: 70px;
    width: 205px;
    margin-left: 19px;
    padding: 5px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF1C;
    gap: 30px;
    border-radius: 5px;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 257px;

  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .enroll-btn {
    background: #FECB00;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 400;
    margin-right: 19px;
    font-size: 18px;
  }
  .enroll-btn img{
    width: 22px;
    height: 22px;
    padding-top: 0px;
    margin: 0;
  }
  
  /* Hero Section */
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 58px;
  }
  
  .left {
    width: 50%;
  }
  
  .left h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  
  .left span {
    color: #ffcc00;
  }
  
  .tagline {
    margin-top: 15px;
    font-size: 18px;
  }
  
  .description {
    margin-top: 20px;
    line-height: 1.6;
    max-width: 500px;
  }
  
  .hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
  }
  
  .course-btn {
    background: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
  }
  
  .consult-btn {
    background: #ffcc00;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
  }
  
  .right img {
    width: 500px;
  }