.our-office-section {
    background-color: #111D89;
    padding: 60px 0px;
    position: relative;
    height: 50px;
    
}
.office-card {
    display: flex;
    justify-content: center;
    gap: 0px;
    position: absolute;
    bottom: -80px;
    height: 186px;
    left: 10%;
    right: 10%;
    
}
.office-card-1 {
    border: 1px solid rgb(219, 210, 210);
    background-color: white;
    border-radius: 10px;
    margin: 0 60px;
    text-align: center;
    padding: 8px 18px;
}

.office-card-1 img {
    width: 44px;
    height: 44px;
}